USE [master]
GO
/****** Object:  Database [ERetailShop]    Script Date: 12/28/2015 11:42:15 AM ******/
CREATE DATABASE [ERetailShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ERetailShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ERetailShop.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ERetailShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ERetailShop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERetailShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERetailShop]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/28/2015 11:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[State] [varchar](100) NOT NULL,
	[City] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/28/2015 11:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Fk_CustomerId] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

GO
INSERT [dbo].[Customer] ([Id], [Name], [State], [City]) VALUES (1, N'Shamajit Manna', N'West Bengal', N'Kolkata')
GO
INSERT [dbo].[Customer] ([Id], [Name], [State], [City]) VALUES (2, N'Prabhash', N'Andra Pradesh', N'Andhra Pradesh')
GO
INSERT [dbo].[Customer] ([Id], [Name], [State], [City]) VALUES (3, N'Atul ', N'Madhya Pradesh', N'Nasik')
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

GO
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [Fk_CustomerId]) VALUES (1, CAST(N'2015-12-12' AS Date), 1)
GO
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [Fk_CustomerId]) VALUES (2, CAST(N'2015-12-26' AS Date), 1)
GO
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [Fk_CustomerId]) VALUES (3, CAST(N'2015-12-26' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
/****** Object:  StoredProcedure [dbo].[AddNewCustomer]    Script Date: 12/28/2015 11:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[AddNewCustomer]
@Name VARCHAR(200),
@City VARCHAR(100),
@State VARCHAR(100)

AS

INSERT INTO Customer(Name,City,[State]) VALUES (@Name,@City,@State)

RETURN @@identity;



GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomer]    Script Date: 12/28/2015 11:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetAllCustomer]

AS

SELECT Id,Name,[State], City FROM Customer;

GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomerAndOrder]    Script Date: 12/28/2015 11:42:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetAllCustomerAndOrder]
AS

SELECT Id, Name, City , [State] FROM Customer;

SELECT OrderId, OrderDate, FK_CustomerId AS CustomerId FROM Orders;
GO
USE [master]
GO
